@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root,
body {
  @apply min-h-screen;
}

/* Container */
.container {
  @apply w-full max-w-screen-2xl mx-auto py-4 px-8;
}

/* Form */

.form {
  @apply flex flex-col bg-neutral-950 px-8 py-10 rounded-xl my-auto;
}

.form input {
  @apply bg-neutral-900 p-3 rounded-md text-white placeholder-neutral-600;
}

.form input:not(:last-of-type) {
  @apply mb-3;
}

/* Button */

.button {
  @apply py-2 px-4 bg-white self-center rounded-md;
}

.form .button {
  @apply mt-3;
}

/* Error */

.error {
  @apply text-red-500 mt-3  text-center;
}
